<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variables
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="jsonDefaultLayout">
        <layout type="JsonLayout">
            <attribute name="time" layout="${longdate}"/>
            <attribute name="level" layout="${level}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message:withException=true}"/>
            <attribute name="eventProperties" encode="false">
                <layout type='JsonLayout' includeEventProperties="true" maxRecursionLimit="10"/>
            </attribute>
        </layout>
    </variable>
    <variable name="logFile" value="/var/logs/TestNLogLayoutsForELK/${shortdate}_jsonFormatLog.log"/>

    <targets async="true">
        <target name="jsonFile" xsi:type="File" layout="${jsonDefaultLayout}" fileName="${logFile}" />        
        <target name="console" xsi:type="ColoredConsole" layout="${jsonDefaultLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="jsonFile,console"/>
    </rules>
</nlog>

